{
    "presets": [
      "@babel/preset-env",
      "@babel/preset-react"
    ],
    "plugins": [
      ["styled-jsx/babel", { "sourceMaps": true }],
      "@babel/plugin-proposal-class-properties"
    ]
  }