<link rel="stylesheet" href="../css/main.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../js/main.js"></script>

<!-- username can be accessed using this scope variable

<h1 id="userName">{{playerId.object.userName}}</h1>

-->

<div id="game-page" class="row">
	<div class="col-md-6">

		<div class="gameon">
			<!--<div class="messageContainer" ng-show="game.gameover">-->
			<!--<div class="winmessage">{{game.winmessage}}<br/> GAME OVER</div>-->
			<!--</div>-->

			<div class="gameContainer">
				<div class="gameBoard">
					<!-- The votingTokens 
					<img class= "backgroundImage" id = "backgroundImage" src="../images/six_player.png">-->

					<!-- TODO take pictures of the five possible voting bars and use that instead so the scaling will work -->
					<img class = "votingToken1" id="votingToken1" src="../images/votingToken.png"> 
					<img class = "votingToken2" id="votingToken2" src="../images/votingToken.png"> 	
					<img class = "votingToken3" id="votingToken3" src="../images/votingToken.png"> 
					<img class = "votingToken4" id="votingToken4" src="../images/votingToken.png"> 
					<img class = "votingToken5" id="votingToken5" src="../images/votingToken.png"> 

					<img class = "missionToken1" id="missionToken1"> 
					<img class = "missionToken2" id="missionToken2"> 	
					<img class = "missionToken3" id="missionToken3"> 
					<img class = "missionToken4" id="missionToken4"> 
					<img class = "missionToken5" id="missionToken5"> 
				</div>
			</div>

			<button type="button" class="info" onmousedown="showCharacter()" onmouseup="hideCharacter()">Show Character</button>
		</div>
	</div>

	<div class="col-md-6">
		<div class="row" style="max-height: 15em;overflow:auto; font-size: 0.8em; padding-right: 10px; margin-right: 0px; padding-left: 20px;">

			<table style="color:white;" class="table table-hover table-striped table-condensed" ng-show="movesInGame.length">
			<h2 class="lead">History of moves in the game</h2>
			<thead>
			<td>Player</td>
			<td>Position</td>
			<td>Move created</td>
			</thead>
			<tbody>
				<tr ng-repeat="move in movesInGame">
				<td>{{move.userName}}</td>
				<td>Board row: {{move.boardRow}}, Board column: {{move.boardColumn}}</td>
				<td>{{move.created | date:'MM-dd-yyyy HH:mm:ss'}}</td>
				</tr>
				</tbody>
				</table>

				<div ng-show="!movesInGame.length">
				No moves yet.
				</div>
		</div>
		<div id="chat-page" class="row" style="height: 15em; padding-top: 1em;">
			<div class="chat-container" style="
			margin-left: 0px;
			margin-top: 0px;
			margin-right: 0px;
			width: 100%;">
				<ul id="messageArea" style="height:15em; overflow:auto;">
	
				</ul>
				<form id="messageForm" name="messageForm">
					<div class="form-group">
						<div class="input-group clearfix">
							<input type="text" id="message" placeholder="Type a Message..." autocomplete="off" class="form-control"/>
							<button type="submit" class="primary">Send</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
</div>


<!-- The Modal for Displaying User Character -->
<div id="myModal" class="modal">
	<span class="close">&times;</span>
	<img class="modal-content" id="img01">
	<div id="caption"></div>
</div>



<!-- The Modal for Proposing Teams -->
<div id="initiateMyModal" class="initiateModal">
	<img class="initiateModal-content" id="initiateImg01">

	<!-- Checkboxes for Selection -->
	<form novalidate ng-submit="submit()">
		<h3>Player List</h3>
		<div class="checkbox checkbox-inline col-sm-4" ng-repeat="player in playerList">
			<input type="checkbox" name="player" id="chk-{{player.id}}" ng-model="options[$index]" ng-value="currency" ng-change="toggleSelect($index)">
			<label for="chk-{{player.id}}">{{player.symbol}}</label>
		</div>
		<br>
		<h3>Players Selected</h3>
		<div>
			<span ng-repeat-start="option in playerList | filter: {checked:true}">{{option.code}} - {{option.name}}</span>
			<br ng-repeat-end>
		</div>
		<input type="submit" id="submit" ng-disabled="numChecks!=participantNumber" style="margin-top: 2em;" value="Submit" />
	</form>
	<!-- Modal Caption (Image Text) -->
	<div id="initiateCaption"></div>
	<button type="button" class="info" onmousedown="showCharacter()" onmouseup="hideCharacter()">Show Character</button>
</div>


<!-- The Modal for Voting on Teams -->
<div id="votingModal" class="votingModal">
	<div class = "row"> 
		<div class="col-md-6">
			<img class="votingModal-content" id="votingImg01" onclick="sendApprove()">
		</div>
		<div class="col-md-6">
			<img class="votingModal-content" id="votingImg02" onclick="sendReject()">
		</div>
	</div>
	<div id="votingCaption"></div>
	<button type="button" class="info" onmousedown="showCharacter()" onmouseup="hideCharacter()">Show Character</button>
</div>


<!-- The Mission Modal -->
<div id="missionModal" class="missionModal">
	<div class = "row"> 
		<div class="col-md-6">
			<img class="missionModal-content" id="missionImg01" onclick="sendSuccess()">
		</div>
		<div class="col-md-6">
			<img class="missionModal-content" id="missionImg02" onclick="sendFail()">
		</div>
	</div>
	<div id="missionCaption"></div>
	<button type="button" class="info" onmousedown="showCharacter()" onmouseup="hideCharacter()">Show Character</button>
</div>



<!-- The snackbar -->
<div id="snackbar" style="color:lawngreen">All Players Have Joined - The Game Will Commence</div>


<!-- Include this part if we want users to set their own username
<div id="username-page" class="hidden">
	<div class="username-page-container">
		<h1 class="title">Enter your Username</h1>
		<form id="usernameForm" name="usernameForm">
			<div class="form-group">
				<input type="text" id="name" placeholder="Username" autocomplete="off" class="form-control"/>
			</div>
			<div class="form-group">
				<button type="submit" class="accent username-submit">Connect</button>
			</div>
		</form>
	</div>
</div> -->
